
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flexbox;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

header {
    background-color: darkgrey;
    height: 6vh;
    padding: 0.5rem;
}

/* style the close button  */
#close_button_background{
    border-radius: 50%;
}
.close_button {
    position: absolute;
   left: 1rem;
    top: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(to right, #ff8000 0%, #ff5e00 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5
  }
  .close_button:hover {
    box-shadow: 0 0 50px red;
    transform: scale(1.1);
  }
  .close_button:before, .close_button:after {
    position: absolute;
    left: 20px;
    content: ' ';
    height: 30px;
    width: 3px;
    background-color: #333;
  }
  
  .close_button:before {
    transform: rotate(45deg);
  }
  .close_button:after {
    transform: rotate(-45deg);
  }
  
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gradiant_box {
    /* margin: 30vh auto; */
  box-sizing: border-box;
  margin-top: 25vh;
  position: relative;
  background: linear-gradient(to right, red,green,blue, purple);
  padding: 0.5rem;
  border-radius: 10%;
}

img {
    width: 40vmin;
    border-radius: 10%;
}


main > button {
    display: block;
    margin-top: 1rem;
    size: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #ff8000 0%, #ff5e00 100%);
    border: none;
    color: #fff;
    box-shadow: 0 0 200px #eee;
    padding: 15px 32px;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}
main > button:hover {
    box-shadow: 0 0 20px gray;
    background-image: linear-gradient(darkgrey, lightgrey);
  }